@* @model IEnumerable<Tutor>
@if (Model != null)
{ *@
      <div class="tu-listinginfo tu-listinginfo_two">
        <span class="tu-cardtag"></span>
        <div class="tu-listing-slider">
            <div id="tu_splide_one" class="tusync splide tu_splide_one">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <figure class="tu-sync__content">
                                <a class="tu-themegallery" data-vbtype="video" data-gall="gall" href="https://www.youtube.com/watch?v=XxxIEGzhIG8" data-autoplay="true">
                                    <img src="/images/listing/slider/img-01.jpg" alt="Image Description">
                                </a>
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tu-sync__content">
                                <a class="tu-themegallery" data-gall="gall" href="images/listing/slider/img-02.jpg">
                                    <img src="/images/listing/slider/img-02.jpg" alt="Image Description">
                                </a>
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tu-sync__content">
                                <a class="tu-themegallery" data-gall="gall" href="images/listing/slider/img-03.jpg">
                                    <img src="/images/listing/slider/img-03.jpg" alt="Image Description">
                                </a>
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tu-sync__content">
                                <a class="tu-themegallery" data-gall="gall" href="images/listing/slider/img-04.jpg">
                                    <img src="/images/listing/slider/img-04.jpg" alt="Image Description">

                                </a>
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tu-sync__content">
                                <a class="tu-themegallery" data-gall="gall" href="images/listing/slider/img-05.jpg">
                                    <img src="/images/listing/slider/img-05.jpg" alt="Image Description">
                                </a>
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tu-sync__content">
                                <a class="tu-themegallery" data-gall="gall" href="images/listing/slider/img-06.jpg">
                                    <img src="/images/listing/slider/img-06.jpg" alt="Image Description">

                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tusyncthumbnail_one" class="tusyncthumbnail_one splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <figure class="tusyncthumbnail__content">
                                <img src="/images/listing/slider/thumbnail/img-01.png" alt="Image Description">
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tusyncthumbnail__content">
                                <img src="/images/listing/slider/thumbnail/img-02.png" alt="Image Description">
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tusyncthumbnail__content">
                                <img src="/images/listing/slider/thumbnail/img-03.png" alt="Image Description">
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tusyncthumbnail__content">
                                <img src="/images/listing/slider/thumbnail/img-04.png" alt="Image Description">
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tusyncthumbnail__content">
                                <img src="/images/listing/slider/thumbnail/img-05.png" alt="Image Description">
                            </figure>
                        </li>
                        <li class="splide__slide">
                            <figure class="tusyncthumbnail__content">
                                <img src="/images/listing/slider/thumbnail/img-06.png" alt="Image Description">
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tu-listinginfo_wrapper">
            <div class="tu-listinginfo_title">
                <div class="tu-listinginfo-img">
                    <figure>
                        <img src="/images/listing/img-01.png" alt="imge">
                    </figure>
                    <div class="tu-listing-heading">
                        <h5>
                            <a href="tutor-detail.html">Curtis Grant</a>
                            <i class="icon icon-check-circle tu-greenclr" data-tippy-trigger="mouseenter" data-tippy-html="#tu-verifed" data-tippy-interactive="true" data-tippy-placement="top"></i>
                        </h5>
                        <div class="tu-listing-location">
                            <address><i class="icon icon-map-pin"></i>Indianapolis, CA</address>
                            <span>5.0 <i class="fa-solid fa-star"></i><em>(4,448)</em></span>
                            <div class="tu-iconheart">
                                <i class="icon icon-heart"></i><span>save</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tu-listinginfo_price">
                    <span>Starting from:</span>
                    <h4>$562.32/hr</h4>
                </div>
            </div>
            <div class="tu-listinginfo_service">
                <h6>You can get teaching service direct at</h6>
                <ul class="tu-service-list">
                    <li>
                        <span>
                            <i class="icon icon-home tu-greenclr"></i>
                            My home
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="icon icon-map-pin tu-blueclr"></i>
                            Student's home
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="icon icon-video tu-orangeclr"></i>
                            Online
                        </span>
                    </li>
                </ul>
            </div>
            <div class="tu-listinginfo_description">
                <p>Hello there! My name is frederick and I'm currently a pre-medical student. I have a deep passion for teaching and I am looking for students, mainly primary, to help them get ahead of school and ace their grades!</p>
            </div>
            <ul class="tu-serviceslist">
                <li>
                    <a href="search-listing.html">Laravel</a>
                </li>
                <li>
                    <a href="search-listing.html">PSD to HTML</a>
                </li>
                <li>
                    <a href="search-listing.html">iOS</a>
                </li>
                <li>
                    <a href="search-listing.html">Clean coding</a>
                </li>
                <li>
                    <a href="search-listing.html">Admin panel</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="tu-tippytooltip" data-tippy-trigger="click" data-tippy-html="#tu-industrypro" data-tippy-interactive="true">...</a>
                </li>
            </ul>
        </div>
    </div>
  @*   <div class="tu-listinginfo">
        <span class="tu-cardtag"></span>
        <div class="tu-listinginfo_wrapper">
            <div class="tu-listinginfo_title">
                <div class="tu-listinginfo-img">
                    <figure>
                        <img src="/@Model.ApplicationUser.ProfileImageUrl" width="70" height="70" alt="imge">
                    </figure>
                    <div class="tu-listing-heading">
                        <h5><a href="tutor-detail.html">@Model.FullName</a> @if(Model.IsVerified==true){<i class="icon icon-check-circle tu-greenclr" data-tippy-trigger="mouseenter" data-tippy-html="#tu-verifed" data-tippy-interactive="true" data-tippy-placement="top"></i>}</h5>
                        <div class="tu-listing-location">
                            <span>5.0 <i class="fa-solid fa-star"></i><em>(4,448)</em></span><address><i class="icon icon-map-pin"></i> @Model.City</address>
                        </div>
                    </div>
                </div>
                <div class="tu-listinginfo_price">
                    <span>Starting from:</span>
                    <h4>$@Model.HourlyRate</h4>
                </div>
            </div>
            <div class="tu-listinginfo_description">
                <p>@Model.Introduction</p>
            </div>
            <div class="tu-listinginfo_service">
                <h6>You can get teaching service direct at</h6>
                @foreach (var services in Model.Services.Split(","))
                {
                    <ul class="tu-service-list">
                        <li>
                            <span>
                                <i class="icon icon-home tu-greenclr"></i>
                                @services
                            </span>

                    </ul>
                }

            </div>
        </div>
        <div class="tu-listinginfo_btn">
            <div class="tu-iconheart">

                @if (Model.WishLists.Count > 0)
                {

                    <i class="icon icon-heart tu-colorred"></i>

                    <span>Saved</span>
                }
                else
                {
                    <i class="icon icon-heart"></i>

                    <span onclick="addToWishList('@Model.Id')">Add to save</span>
                }

            </div>
            <div class="tu-btnarea">
                <a href="login.html" class="tu-secbtn">Let’s chat</a>
                <a asp-controller="Tutor" asp-action="ProfileView" asp-route-tutorid="@Model.Id" class="tu-primbtn">View full profile</a>
            </div>
        </div>
    </div>
 *@

